.hidden {
    display: none;
}

header {
    height: 120px;
}
.header-form {
    height: 100%;
    width: 100%;
    background-image: url("resources/barfight_by_jasonwang7_d81e9gl.png");
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-form p {
    font-size: 16px;
}


body {
    background-image: url("resources/barfight_by_jasonwang7_d81e9gl.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    background-position: center center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}
h1, h2 {
    font-family: 'Righteous', cursive;
}
h1 {
    color: #AC2E16;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: hsl(0,0%,0%,0.8);
    font-size: 2.1rem;

}
h5 {
    display: block;
    margin: 5px auto;
    font-family: 'Righteous', cursive;
    color: #8D3020;
    display: none;
}
a {
    color: #57515E;
}


form {
    margin: 0 auto;
}
form input:focus {
    outline: none;
    border: solid 0.5px orange;
}
.landing-form {
    margin-bottom: 220px;
}
.landing-form input {
    border: solid black 0.5px;
}

form input {
    height: 40px;
    width: 275px;
    padding: 5px;

    box-sizing: border-box;
    border: solid white 0.5px;
    border-radius: 3px;
    background-color: hsl(0,0%,0%,0.8);
    color: white;
}
.error {
    color: #AC2E16;
    font-size: 16px;
    font-weight: 800;

    background-color: hsl(0,0%,0%,0.8);
}
form:focus {
    border: solid black 0.1px;
}
form button {
    display: inline-block;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    box-sizing: border-box;

    font-family: 'Righteous', cursive;
    color: black;
    font-weight: bold;
    border: solid black 2px;
    border-radius: 3px;
    background-color: hsl(8.8, 63%, 33.9%);
}

form label {
    display: none;
}

footer {
    font-size: 0.8rem;
    background-color: #212224;
    color: white;
    margin: 0;
}

main {
    min-height: 100px;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}
li {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #344539;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    font-size: 14px;
    font-weight: bold;
    text-align: left;
}
li img {
    height: 100%;
}
li button {
    font-weight: bold;
    border: none;
    background-color: #A7A1AE;
    width: 117.5px;
    height: 20px;
    box-sizing: border-box;
    margin-left: 2px;
    margin-top: 5px;
}

li .hero {
    height: 25px;
}

.result-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.result-header img {
    height: 60px;
}
.result-header h2 {
    padding: 0 10px;
}

.heroes {
    display: grid;
    grid-template-columns: 100%;
}
.recent-matches {
    font-size: 11px;
    text-align: center;
}
.recent-matches img {
    display: block;
    margin: 0 auto;
}
h2 {
    color: white;
    font-weight: normal;
}
h3 {
    text-align: center;
    margin-bottom: 5px;
    background-color: #82AB8D;
    width: 100%;
}

table {
    width: 100%;
}
th {
    background-color: #82AB8D;
}
td {
    background-color: #B2EBC1;
}
tr {
    border: 0;
    margin: 0;
    padding: 0;
}


footer {
    font-size: 0.8rem;
    margin-top: 50px;
    padding: 1px;
    color: #B0B0B0;
}
footer a {
    color: #97919E;
}
.social-links {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 70px;
}



@media screen and (min-width:700px) {
    
    .header-form {
        height: 100%;
        width: 100%;
        background-image: none;
        background-size: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header {
        height: 150px;
        display: flex;
        align-items: center;
    }
    h1 {
        font-size: 3.3rem;
    }
    form {
        margin: 0 auto;
    }
    .landing-form {
        margin-bottom: 600px;
    }
    form button {
        display: none;
    }
    form input {
        width: 500px;
        height: 3rem;
        font-size: 2rem;
    }
    
    
    h5 {
        margin: 5px 0;
    }

    main {
        min-height: 100px;
        margin: 0 auto;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        width: 100%;
    }
    li {
        width: 100%;
        box-sizing: border-box;
        text-align: left;
        padding: 10px;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: normal;
        border: solid black 1px;
    }
    li img {
        height: 100%;
    }
    li button {
        font-weight: bold;
    }
    li .hero {
        display: inline-block;
    }

    .result-header {
        display: grid;
        grid-template-columns: 12% 28% 60%;
        align-items: center;
    }
    .result-header h2 {
        padding: 0;
    }

    .heroes {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
    }
    .recent-matches {
        font-size: 16px;
        text-align: left;
    }
    h3 {
        text-align: center;
        margin-bottom: 5px;
        width: 100%;
    }

    table {
        width: 100%;
    }
    th {
        padding-left: 5px;
    }
    td {
        padding-left: 5px;
    }

    footer {
        font-size: 0.8rem;
        margin-top: 50px;
    }

    
}

@media screen and (min-width: 1150px) {
    li {
        width: 1150px;
    }
}